/* common css */
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-color: #ffffff;
  --back-hero-footer-color: #2f303a;
  --back-team-color: #f5f4fa;
  --back-midle-color: #e5e5e5;
}
